---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<html>

			<section class="inicio">
				<div class="texto">
					<h1 class="titulo">Bienvenido a Seeding!</h1>
					<p>Tu tienda agraria online de confianza.</p>
				</div>
				<div class="icono">
					<i id="iconoScroll" class="ri-arrow-down-circle-fill abajo"></i>
				</div>
			</section>

			<section class="snap">
				<div class="contenedor">
					<a class="cuadro op1" href="tienda/arboles-frutales"><div>
						<div class="error">
							<h1>Arboles</h1>
						</div>
					</div></a>

					<a class="cuadro op2" href="tienda/florales">
					<div>
						<h1>Florales</h1>
					</div>
					</a>
					<a class="cuadro op3" href="tienda/hortalizas">
					<div>
						<h1>Hortalizas</h1>
					</div>
					</a>

					<a class="cuadro op4" href="tienda/cactus">
					<div>
						<h1>Cactus</h1>
					</div>
				</a>
				</div>
			</section>
			</html>

</Layout>


<style>
	html {
		scroll-snap-type: y mandatory;
	}
	@keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
	.titulo {
		animation: bounce 2s;
		font-size: 65px;
	}
	.error {
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

.snap {
  scroll-snap-align: start;
}
	.snap1{
		scroll-snap-align: start;
	}
	.snap2{
		scroll-snap-align: start;
	}
	.body {
		scroll-snap-type: y mandatory;
		
	}
	.abajo {
		font-size: 50px;
		margin-bottom: 30px;
		transition: transform 0.3s ease-in-out;
	}
	.abajo:hover {
		transform: translateY(9px) scale(0.9);
	}
	.contenedor {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	.texto {
		display: flex;
		justify-content: end;
		align-items: center;
		height: 45vh;
		width: 100%;
		flex-direction: column;
	}
	.icono {
		display: flex;
		justify-content: end;
		align-items: center;
		height: 45vh;
		width: 100%;
		flex-direction: column;
	}
	.cuadro {
		display: flex;
		justify-content: center;
		align-items: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		flex-direction: column;
		font-size: 30px;
		width: 50%;
		height: 45vh;
		transition: all ease 0.55s;
		cursor: pointer;
	}
	.op1 {
		
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("https://www.comercialsivar.es/tratamientos-para-el-cuidado-de-los-arboles-frutales_img22946t1.jpg");
			
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.op1:hover {
		background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
			url("https://www.comercialsivar.es/tratamientos-para-el-cuidado-de-los-arboles-frutales_img22946t1.jpg");
		font-size: 35px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.op2 {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("https://www.agropopular.com/wp-content/audios_agropopular/2019/04/capuchinaa.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.op2:hover {
		background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
			url("https://www.agropopular.com/wp-content/audios_agropopular/2019/04/capuchinaa.jpg");
		font-size: 35px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.op3 {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("https://www.semillasvivas.bio/modules/ph_simpleblog/covers/41.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.op3:hover {
		background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
			url("https://www.semillasvivas.bio/modules/ph_simpleblog/covers/41.png");
		font-size: 35px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.op4 {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("https://blog.germigarden.com/wp-content/uploads/2022/06/polina-skaia-MBPxxeTbI8w-unsplash-1024x683.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.op4:hover {
		background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
			url("https://blog.germigarden.com/wp-content/uploads/2022/06/polina-skaia-MBPxxeTbI8w-unsplash-1024x683.jpg");
		font-size: 35px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.inicio {
		max-width: 100%;
		height: 90vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url("https://bloglatam.jacto.com/wp-content/uploads/2023/04/jacto_jactomexico_image_646-scaled.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		flex-direction: column;
	}

	.inicio p {
		font-size: 25px;
	}


	@media (max-width: 768px){
		.titulo {
			text-align: center;
			font-size: 45px;
		}
		.inicio p {
			text-align: center;
			font-size: 20px;
		}
		.cuadro h1{
			font-size: 30px;
		}
		.snap {
			height: auto;
		}
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
   
}

@media only screen and (min-width: 1024px) {
  
}


@media only screen and (min-width: 1200px) {
    
}

</style>
