---

---

<div class="topnav">
<!-- logo -->
    <a class="logo" href="/">Seeding</a>
<!-- menu superior izquierda -->
    <div class="menu">
        <div class="dentroMenu">
            <!-- menu desplegable de semillas -->
            <div class="dropdown">
                <a href="#">Semillas</a>
                <div class="dropdown-content">
                  <a href="../tienda/arboles-frutales">Arboles</a>
                  <a href="../tienda/florales">Flores</a>
                  <a href="../tienda/hortalizas">Hortalizas</a>
                  <a href="../tienda/cactus">Cactus</a>
                </div>
            </div>

            <a href="/about">Sobre nosotros</a>
            <a href="../carrito"><i class="ri-shopping-cart-line carro"></i></a> 
        </div>
    </div>
    <!-- boton de menu de movil -->
    <div class="bx bx-menu" id="icono-menu"></div>
</div>
<!-- menu de movil -->
<div id="menu-movil" class="menu-movil">
    <div class="menu-movil-item" id="semillas-item">
    <a href="/">Inicio</a>
    <!-- desplegable de semillas del menu de movil -->
        <span id="semillas">Semillas</span>
        <div class="submenu">
            <hr>
            <a href="../tienda/arboles-frutales">- Arboles</a>
            <a href="../tienda/florales">- Florales</a>
            <a href="../tienda/hortalizas">- Hortalizas</a>
            <a href="../tienda/cactus">- Cactus</a>
            <hr>
        </div>
    </div>
    <a href="#">Sobre nosotros</a>
    <a href="../carrito">Carrito</a>
    <div id="close-menu">&#10006;</div>
</div>
<!--script para el menu de movil en JavaScript -->
<script lang="js">
    document.addEventListener("DOMContentLoaded", function () {
        var semillasItem = document.getElementById("semillas-item");
        var submenu = document.querySelector(".submenu");

        semillasItem.addEventListener("click", function () {
            submenu.style.display = submenu.style.display === "flex" ? "none" : "flex";
        });

        var mobileMenu = document.getElementById("menu-movil");
        var iconoMenu = document.getElementById("icono-menu");
        var closeMenu = document.getElementById("close-menu");

        iconoMenu.addEventListener("click", function () {
            mobileMenu.style.display = mobileMenu.style.display === "flex" ? "none" : "flex";
        });

        closeMenu.addEventListener("click", function () {
            mobileMenu.style.display = "none";
        });
    });
</script>
<style>
     #menu-movil {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    #menu-movil a {
        color: white;
        font-size: 20px;
        text-decoration: none;
        margin-bottom: 20px;
    }

    #menu-movil a:hover {
        color: #f1f1f1;
    }
    #close-menu {
        color: white;
        font-size: 30px;
        cursor: pointer;
        margin-top: 20px;
    }

    #close-menu:hover {
        color: #f1f1f1;
    }
    .menu-movil-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #semillas {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .submenu {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .submenu a {
        color: white;
        font-size: 16px;
        text-decoration: none;
        margin: 5px 0;
    }

    #semillas:hover, .submenu a:hover {
        color: #f1f1f1;
    }

    #icono-menu {

    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
    color: white;
    }

    .carro {
        transition: all ease .3s;
        cursor: pointer;
        padding: 7px;
        border-radius: 50%;
    }
    .carro:hover {
        background-color: #77a159;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #668A4C;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Estilo para los elementos del menú desplegable */
    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

    }

    /* Cambia el color del enlace cuando pasas el ratón sobre él */
    .dropdown-content a:hover {
      background-color: #f1f1f1;
      color: black;
      transition: all ease .2s;
      margin-right: 0;
    }

    /* Estilo para el enlace que activa el menú desplegable */
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .ri-shopping-cart-line {
        color:white;
    }
    
    .menu {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 1rem;
    }
    .dentroMenu {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    .topnav {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #668A4C;
        height: 10vh;
        scroll-snap-align: start;
    }
    .logo {
        font-size: 35px;
        text-decoration: none;
        margin-left: 2rem;
        transition: all ease 0.55s;
        color: white;
    }
    .logo:hover {
        letter-spacing: 0.2rem;
    }
    .menu a {
        color: #000000;
        text-align: center;
        text-decoration: none;
        font-size: 23px;
        color: white;
        border-bottom: 3.5px solid transparent;
        transition: all ease .55s;
        margin-right: 20px;
    }
    @media (max-width: 768px){
	#icono-menu{
		display: block;
    }
    .menu {
        display: none;
    }
    .topnav {
        justify-content: space-between;
    }
	}

    
</style>
