---
const {img, nombre, precio} = Astro.props;
---

<div class="targeta">
    <div class="imagen">
        <img src={img} alt="">
    </div>
    <div class="texto">
        <h3 class="nombre">{nombre}</h3>
        <p class="precio">{precio}</p>
    </div>
    <div><i class="ri-delete-bin-7-fill"></i></div>
</div>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    .ri-delete-bin-7-fill {
        cursor: pointer;
    }
    .texto {
        height: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 13px;
    }
    .boton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 33%;
    }
    .targeta {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100px;
        height: 275px;
        margin: 20px;
        transition: all ease .55s;
        background-color: white;
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        font-style: italic;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .precio {
        color:#F24236;
        font-weight:800;
        font-size: 15px;
    }
 
    
    .nombre {
        color: #696969;
        width: 100%;
    }




</style>