---
import Layout from "../../layouts/Layout.astro";
import Targeta from "../../components/Targeta.astro";
import Tienda from "../../layouts/Tienda.astro";
---
<Layout>
    <div class="titulo">
        <h1>Arboles</h1>
    </div>
    <Tienda>
        <Targeta img="https://entresemillas.com/2081-home_default/argan-argania-spinosa-semillas.jpg" nombre="Argán - 20 Semillas" precio="2,35 €" />
        <Targeta img="https://entresemillas.com/1283-home_default/paulownia-tomentosa-sobre-100-semillas.jpg" nombre="Paulownia tomentosa - 100 semillas" precio="2,35 €" />
        <Targeta img="https://entresemillas.com/2157-home_default/arce-rojo-arce-de-canada-sobre-10-semillas.jpg" nombre="Arce Rojo / Arce de Canadá - 15 semillas" precio="2,35 €" />
        <Targeta img="https://entresemillas.com/2111-home_default/acer-palmatum-japones-sobre-20-semillas.jpg" nombre="Arce Japonés - 10 semillas" precio="2,99 €" />
        <Targeta img="https://entresemillas.com/1272-home_default/baobab-adansonia-digitata-semillas.jpg" nombre="Baobab digitata - 5 semillas" precio="2,35 €" />
        <Targeta img="https://entresemillas.com/2104-home_default/pino-negro-japones-pinus-thunbergii-sobre-15-semillas.jpg" nombre="PINO NEGRO JAPONÉS - 20 SEMILLAS" precio="2,49 €" />
        <Targeta img="https://entresemillas.com/1458-home_default/acer-buergerianum-arce-tridente-sobre-10-semillas.jpg" nombre="PINO NEGRO JAPONÉS - 20 SEMILLAS" precio="2,49 €" />
        <Targeta img="https://entresemillas.com/2104-home_default/pino-negro-japones-pinus-thunbergii-sobre-15-semillas.jpg" nombre="Arce tridente - 10 semillas" precio="2,35 €" />
        <Targeta img="https://entresemillas.com/2067-home_default/pino-pinonero-sobre-8-semillas.jpg" nombre="Pino piñonero - 8 semillas" precio="1,99 €" />
        <Targeta img="https://entresemillas.com/2403-home_default/jacaranda.jpg" nombre="Jacaranda - 30 semillas" precio="2,35 €" />
    </Tienda>
</Layout>

<style>
    * {
        margin: 0;
        padding: 0;
    }
    h1 {
        text-align: center;
        padding-top: 10px;
        font-size: 70px;
        font-family: 'Dancing Script', cursive;
    }
    .titulo {
        width: 100%;
        height: auto;
        background: url("https://entresemillas.com/img/madera1.jpg");
        
    }
</style>