---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&family=Nunito:wght@500&family=Poppins:wght@100&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&family=Nunito:wght@500&family=Poppins:wght@100&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>  <!-- layout para el index -->
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	* {
		padding: 0;
		margin: 0;
		font-family: 'Nunito', sans-serif;
		text-decoration: none;
	}
	body {
		display: flex;
		flex-direction: column;
	}

</style>
